.site-header{
    position: fixed;
    padding: 25px;
    z-index: 3
    justify-content: space-around;
    .navbar-section {
      .navbar-brand{
        &.navbar-brand_reverse{
          display: none;
        }

        img{
          width: 60px;
        }
      }

      #typef_orm_share{
        display: none;
        font-family: $title_font;
        padding: 0 20px;
        span {
          display: block;
        }
      }

      .cd-nav-trigger{
        font-family: $title_font;
        display: block;
        padding: 0 20px;
        cursor:pointer;
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);
        background: hsla(0, 0%, 100%, .1);
        border-radius: .25rem;
        z-index : 3000;
      }
    }

    .nav-links {
      min-width: 60%;
      display: none;
      flex: 1;
      justify-content: center;
      align-items: center;

      ul {
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);
        background: hsla(0, 0%, 100%, .1);
        border-radius: .25rem;
        height: 3rem;
        padding: 0 20px;
        margin: 0;
        display: flex;
        gap: 20px;
        align-items: center;
        list-style: none;
        li {
          margin-top: 0px;
          a {
            font-family: $title_font;
          }
        }
      }
    }
}

.light {
  .nav-links {
    background: rgba(9, 8, 8, 0.38)!important;
  }
  .navbar-brand{
    &.navbar-brand_normal{
      display: none;
    }
    &.navbar-brand_reverse{
      display: block!important;
    }
  }

}

.navigation-is-open {
  .cd-nav-trigger{
    color: black!important;
  }
}

@media only screen and (min-width: $MQNarrow){
  .site-header{
    .navbar-section {
      #typef_orm_share {
        display:block!important;
      }
      
      .cd-nav-trigger {
        display: none;
      }

      &.nav-links {
        display: flex;
      }
    }
  }
}
