$main_color = #ffffff;
$second_color = #302ecd;
$text_color = #403f3f;
$title_font = "F.";
$text_font = "roboto";


$borderColor = #eaecef
$codeBgColor = #403f3f
$arrowBgColor = #ccc

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 959px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

// code
$lineNumbersWrapperWidth = 3.5rem
